/* global Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: 10px;
    /* overflow: hidden; */
}

:root {
    --blue: rgb(0,157,224);
    --blueHover: rgb(62, 77, 211);
    --fontColor: rgb(81, 94, 107);
}

body {
    height: 500vh;
}

.start {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgba(35, 64, 148, 0.7);
    z-index: 2;
}

.headerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.logoRobal img {
height: 100px;
cursor: pointer;

}

.menu {
    font-weight: 500;
    width: 50%;
}

.menu2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.menu2 a {
    font-size: 2rem;
    position: relative;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding: 1rem;
}

a:after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    /* background: #242e6c; */
    background: linear-gradient(90deg, transparent, #12c6f3);
    transition: width 0.3s;
}

a:hover:after {
    width: 100%;
}
 
a:hover {
    color: #12c6f3;
}

.baner {
    width: 100vw;
    height: 100vh;
    background-image: url('../image/Tshirt_baner.jpg');
    background-position: center center;
    background-attachment: fixed;
}

.baner img {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 30%;
}

.baner button {
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 2.5rem;
    padding: 10px 30px;
    transform: translate(-50%, -50%);
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: .3s;
}

.baner button:nth-child(2) {
    top: 60%;
    left: 60%;
}

.baner button:hover {
    background-color: var(--blueHover);
}

.baner i {
    position: absolute;
    font-size: 4.5rem;
    color: white;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .3s;
}

i:hover {
    color: var(--blue);
}

/* Sekcja "aboutUs" i "Portfol" */


.aboutUs i {
    position: fixed;
    font-size: 4rem;
    color: var(--fontColor);
    right: 2%;
    top: 90%;
    transform: rotate(180deg);
    cursor: pointer;
    transition: .3s;
}

.aboutUs i:hover {
    color: var(--blue);
}

div.about {
    display: flex;
    margin: 80px auto;
    width: 80%;
}

div.aboutText {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.aboutImage {
    width: 50%;
}

div.aboutTittle {
    width: 100%;
    border-left: 5px solid var(--blue);
    padding-left: 2rem;
}

div.aboutTittle h1 {
    font-size: 5rem;
    color: var(--blue);
}


div.aboutTittle h2 {
    font-size: 3.5rem;
    color: var(--fontColor);
}

div.aboutDescription {
    width: 100%;
    margin-top: 30px;
    padding-right: 30px;
}

div.aboutDescription p {
    font-size: 2rem;
}

div.aboutDescription button {
    font-size: 2rem;
    display: block;
    margin: 40px auto;
    color: white;
    padding: 10px 30px;
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

div.aboutDescription button:hover {
    background-color: var(--blueHover);
    }

div.aboutImage img {
    width: 100%;
    margin: auto 0;
    border-radius: 20px;
}

/* Sekcja "howWeWork" */

div.weWork {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    width: 80%;
}

div.howWeWorkText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.howWeWorkTittle {
    width: 100%;
    border-left: 5px solid var(--blue);
    padding-left: 2rem;
}

div.howWeWorkTittle h2 {
    font-size: 3.5rem;
    color: var(--fontColor);
}

div.howWeWorkDescription {
    width: 100%;
    margin-top: 30px;
}

div.howWeWorkDescription p {
    font-size: 2rem;
}

div.howWeWorkSections {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

div.howWeWorkSection {
    width: 20%;
    text-align: center;
}

div.howWeWorkSection i {
    font-size: 7rem;
    color: rgb(1,174,239);
}

div.howWeWorkSection p:nth-of-type(1) {
    margin-top: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--blue);
}

div.howWeWorkSection p:nth-of-type(2) {
    margin-top: 20px;
    text-align: center;
    font-size: 1.6rem;
    color: var(--fontColor);
}

div.image {
    width: 100vw;
    height: 60vh;
    background-image: url('../image/mountains1.jpg');
    background-position: center center;
    background-attachment: fixed;
}

div.imageText {
    position: relative;
    top: 40%;
    left: 50%;
    border-left: 5px solid var(--blue);
    padding-left: 2rem;
}

div.imageText p:nth-of-type(1) {
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
}

div.imageText p:nth-of-type(2) {
    font-size: 4rem;
    color: var(--blue);
    text-transform: uppercase;
}

div.imageText p:nth-of-type(3) {
    font-size: 2.5rem;
    color: white;
}

/* Sekcja "Portfol" */
